body {
    background: #4E5166;
    color: white;
    font-size: 125%;
    font-family: Josefin Sans, sans-serif;
    line-height: 1.5;
}


.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #FF5964;
}

a:hover {
    border-bottom: 2px bottom #4E5166;
    background: #FF5964;
}

pre[class*="language-"] {
    font-size: 14px;
    border-radius: 0;
}