body {
    background: #4E5166;
    color: white;
    font-size: 125%;
    font-family: Josefin Sans, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #FF5964;
}

a:hover {
    background: #FF5964;
}

.teaser {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .teaser {
        display: block;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .teaser h3,
    .teaser p {
        margin: 0;
    }
}

pre[class*="language-"],
code[class*="language-"] {
    font-size: 14px;
    border-radius: 0;
}

section p {
    margin: 27px 0;
}